# Dependencias
node_modules/

# Resultados de producción 
dist/
dist-ssr/
*.local

# Archivos del sistema y logs
.DS_Store
thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de IDEs
.vscode/
.idea/